/**
 * @author kleinm
 */
 
 body {
 background-color: grey;
 }
 
 
 #window {
background-color: white; 
border: 3px solid;
width: 920px; 
height: 550px; 
position: absolute;
left: 50%;
top: 50%;
margin: -275px 0 0 -475px;
overflow:hidden;
 }
 
 #timer {
 left: 50%;
 top: 50%;
 border: 3px solid;
 }
 
 