  #navi_with_animation {
 left:0;
 text-align: center;
 width: 100%;
 bottom: 0;
 position:absolute;
 display:none;
 }
 
 #navi_without_animation {
 left:0;
 text-align: center;
 width: 100%;
 bottom: 0;
 position:absolute;
 }
 
 #M {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
 #O1 {
 left:-150px;
 position: absolute;
 top: 43px;
 }
 
  #O2 {
 left:-150px;
 position: absolute;
 top: 0px;
 }
 
  #R {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
  #H {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
  #H2 {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
  #U {
 left:-150px;
 position: absolute;
 top: 45px;
 }
 
  #N {
 left:-150px;
 position: absolute;
 top: 45px;
 }
 
 
 #sg1 {
 left: 270px;
 position:absolute;
 top: 150px; 
 display: none;
 }
 
 #sg2 {
 left: 600px;
 position:absolute;
 top: 150px;
 display: none;
 }
 
 #sg3 {
 left: 540px;
 position:absolute;
 top: 360px;
 display: none;
 }
 
 
 #sk1 {
 left: 150px;
 position:absolute;
 top: 300px;
 display: none;
 }
 
 #huhnstartpage {
 left: 620px;
 position:absolute;
 top: 346px;
 display: none;
 }
 
 #huhnaboutus {
 left: 620px;
 position:absolute;
 bottom: 0;
 }
 
  #huhnimpressum {
 left: 0px;
 position:absolute;
 bottom: 330;
 }
