/**
 * @author kleinm
 */
 
 body {
 background-color: grey;
 }
 
 
 #window {
background-color: white; 
border: 3px solid;
width: 920px; 
height: 550px; 
position: absolute;
left: 50%;
top: 50%;
margin: -275px 0 0 -475px;
overflow:hidden;
 }
 
 #contact {
 left:40%;
 bottom: 0;
 position:absolute;
 }
 
  #M {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
 #O1 {
 left:-150px;
 position: absolute;
 top: 43px;
 }
 
  #O2 {
 left:-150px;
 position: absolute;
 top: 0px;
 }
 
  #R {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
  #H {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
  #H2 {
 left:-150px;
 position: absolute;
 top: 44px;
 }
 
  #U {
 left:-150px;
 position: absolute;
 top: 45px;
 }
 
  #N {
 left:-150px;
 position: absolute;
 top: 45px;
 }
 
 
 #sg1 {
 left: 270px;
 position:absolute;
 top: 150px;
 }
 
 #sg2 {
 left: 600px;
 position:absolute;
 top: 150px;
 }
 
 #sg3 {
 left: 540px;
 position:absolute;
 top: 360px;
 }
 
 
 #sk1 {
 left: 150px;
 position:absolute;
 top: 300px;
 }
 
 #huhn {
 left: 620px;
 position:absolute;
 top: 346px;
 }