/**
 * @author kleinm
 */
 
 #M {
 left:-400px;
 position: absolute;
 top: 20px;
 }
 
 #O1 {
 left:-300px;
 position: absolute;
 top: 19px;
 }
 
  #O2 {
 left:-300px;
 position: absolute;
 top: 19px;
 }
 
  #R {
 left:-300px;
 position: absolute;
 top: 19px;
 }
 
  #H {
 left:-300px;
 position: absolute;
 top: 19px;
 }
 
  #U {
 left:-300px;
 position: absolute;
 top: 19px;
 }
 
  #N {
 left:-300px;
 position: absolute;
 top: 19px;
 }
 

 #window {
background-color: white; 
border: 1px solid;
width: 920px; 
height: 550px; 
position: absolute; 
left: 50%;
top: 50%;
margin: -275px 0 0 -475px;
overflow:hidden;
 }