/**
 * @author kleinm
 */
 
 body {
background: -moz-linear-gradient(center top, orange 0%, red 100%);
/*background: -moz-linear-gradient(0% 6% 270deg,#2B2B2B, #9E9E9E);*/
background: -webkit-gradient(linear, left top, left bottom, from(orange), to(red));
height: 100%;
}
 
 
 #window {
background-color: white; 
border: 2px solid;
width: 920px; 
height: 550px; 
position: absolute;
left: 50%;
top: 50%;
margin: -275px 0 0 -475px;
overflow:hidden;
box-shadow: 10px 10px;
/*
-moz-box-shadow: -5px -5px 5px #888;
-webkit-box-shadow: -5px -5px 5px #888;*/
 }
 


 