body {
	background-color: grey;
}

#window {
	background-image: url(../images/backgroundSpace.png);
	background-repeat: no-repeat;
	background-position: fixed;
	background-position-x: 300px;
	border: 2px solid;
	width: 920px;
	height: 550px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -275px 0 0 -475px;
	overflow: hidden;
}

#status {
	color: green;
}

#score {
	left: 0px;
	bottom: -20px;
	color: red;
	position: absolute;
}

#time {
	right: 0px;
	bottom: -20px;
	color: red;
	position: absolute
}

.chickenright {
	background-image: url(../images/moorRightGif.gif);
	background-repeat: no-repeat;
	width: 75px;
	height: 56px;
	position: absolute;
	left: 1000px;
	top: 0px;
}

.chickenleft {
	background-image: url(../images/moorLeftGif.gif);
	background-repeat: no-repeat;
	width: 75px;
	height: 56px;
	position: absolute;
	left: -100px;
	top: 0px;
}

.ammunition {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 175px;
	bottom: 0px;
}

#crosshair {
	background-image: url(../images/crosshairSmall.png);
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	position: absolute;
	left: 0px;
	top: 0px;
}
