body {
	background-color: grey;
}

#window {
	background-image: url(../images/backgroundSpace.png);
	background-repeat: no-repeat;
	background-position: fixed;
	background-position-x: 300px;
	border: 2px solid;
	width: 920px;
	height: 550px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -275px 0 0 -475px;
	overflow: hidden;
}

.chickenright {
	background-image: url(../images/chickenRight.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 119px;
	position: absolute;
	left: -150px;
	top: 0px;
}

.chickenleft {
	background-image: url(../images/chickenLeft.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 119px;
	position: absolute;
	left: 1150px;
	top: 200px;
}

#chicken_right {
	background-image: url(../images/chickenLeft.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 119px;
	position: absolute;
	left: 200px;
	top: 80px;
}

#chicken_left {
	background-image: url(../images/chickenRight.png);
	background-repeat: no-repeat;
	width: 120px;
	height: 90px;
	position: absolute;
	left: 450px;
	top: 300px;
}

#ammunition_1 {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 175px;
	bottom: 0px;
}
#ammunition_2 {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 140px;
	bottom: 0px;
}
#ammunition_3 {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 105px;
	bottom: 0px;
}
#ammunition_4 {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 70px;
	bottom: 0px;
}
#ammunition_5 {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 35px;
	bottom: 0px;
}
#ammunition_6 {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
