body {
/*background: -moz-linear-gradient(center top, orange 0%, red 100%);*/
background-image: -moz-linear-gradient(bottom left, orange 0%, red 100%);
/*background: -moz-linear-gradient(0% 6% 270deg,#2B2B2B, #9E9E9E);*/
/*background: -webkit-gradient(linear, left top, left bottom, from(orange), to(red));*/
background-image: -webkit-linear-gradient(bottom left, orange 0%, red 100%);
height: 100%;
}

#window {
	background-image: url(../images/background_desert.png);
	background-repeat: no-repeat;
	background-position: fixed;
	border: 2px solid;
	width: 920px;
	height: 550px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -275px 0 0 -475px;
	overflow: hidden;
	/*box-shadow: 10px 10px;*/
}

#status {
	background-color:#ffffff;
	width: 500px;
	height: 300px;
	position: absolute;
	left: 25%;
	top: 25%;
	visibility: hidden;
	opacity:0.6;
	
 
	
}

#score {
	left: 0px;
	bottom: -30px;
	font-size: 35px;
	color: red;
	position: absolute;
}

#endscore {
	left: 30%;
	top: 22%;
	font-size: 20px;
	color: red;
	position: absolute;
}

#time {
	right: 0px;
	bottom: -30px;
	font-size: 35px;
	color: red;
	position: absolute
}

#start_time {
	top: 25%;
	left: 25%;
	font-size: 60px;
	font-weight: bold;
	color: black;
	position: absolute;
}

#start_div {
	top: 0%;
	left: 0%;
	width: 920px;
	height: 550px;
	position: absolute;
	visibility: visible;
	opacity: 0,6;
	
}

.chickenright {
	background-image: url(../images/moorRightGif.gif);
	background-repeat: no-repeat;
	width: 75px;
	height: 56px;
	position: absolute;
	left: 1000px;
	top: 0px;
	z-index: 50;
}

.chickenleft {
	background-image: url(../images/moorLeftGif.gif);
	background-repeat: no-repeat;
	width: 75px;
	height: 56px;
	position: absolute;
	left: -100px;
	top: 0px;
	z-index: 50;
}

.ammunition {
	background-image: url(../images/ammunition.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 35px;
	position: absolute;
	left: 300px;
	bottom: 0px;
}

#button_menu {
 left: 100px;
 top: 80%;
 position:absolute;
 /*display:none;*/
 }
  
#button_play_again {
 left: 200px;
 top: 80%;
 position:absolute;
 /*display:none;*/
 }
 
 #button_send_highscore {
 left: 300px;
 top: 80%;
 position:absolute;
 /*display:none;*/
 }


