/**
 * @author Sebastian Göltz & Marc Klein
 */

 #navi_without_animation {
 left:0;
 text-align: center;
 width: 100%;
 bottom: 0;
 position:absolute;
 }
 
  #navi_without_animation a {
 color:black;
 }